@import "variables";

.main-container {
  height: 100%;
}

.banner-container {
  width: 100%;
  height: auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-position: center;
}

.image-1 {
  height: auto;
}

.card-align {
  h1 {
    text-align: center;
    //font-size: 37px;
  }
}

.card-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.travel-agency {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  max-width: 1300px;
  margin: 10px auto;
  padding: 10px;
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 475px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .travel-agency {
    padding: 10px;
    margin: 10px;
  }
}
